<div class="contain">
  <% if @pledges.count == 0 %>
    <h3>There are currently no pledges!</h3>
    <small>
      Check back soon!
    </small>
  <% end %>
  <div class="row">
     <div class="col-md-8">
        <% @pledges.each do |pledge| %>
          <div class="media">
            <div class="media-body">
              <h4 class="media-heading">
                <%= link_to pledge.name, pledge %>
              </h4>
              <small>
                Submitted <%= time_ago_in_words(pledge.created_at) %> ago
              </small>
            </div>
          </div>
        <% end %>
      </div>
</div>
