<div class="contain">
  <h1>Our Mission</h1>
  <p>
  FuckFent is dedicated to providing educational materials and practical resources
  related to harm-reduction and the identification of fentanyl-laced products.
  Our informational pamphlets are designed to save lives, and we include a free
  fentanyl testing strip with every pamphlet ordered. These strips, provided for
  educational purposes only, are able to detect the presence of fentanyl and many of
  its analogues both quickly and accurately.</br></br>

  Our model relies on sponsorship and gifts from groups and individuals in order to
  offer these potentially life-saving materials at the lowest possible price.
  In other words, our response to the opioid epidemic is practical and we measure our
  success by the preservation of human life rather than profit.</br></br>

  To this end, while we continue to work on our website, we ask that you consider
  sponsoring our cause by shouting us out on social media or pledging a monetary
  contribution. Your contribution keeps this initiative going and is the single
  factor that allows us to offer the lowest prices and therefore maximize the
  availability of our harm-reduction products and educational materials.
  Please reach us <%= link_to "here", new_pledge_path %> with your pledge amount
  and we will promptly respond with an invoice. We will provide receipt for all
  contributions and will gladly answer any questions related to our product, mission,
  affiliates, or other ways to get involved.</br></br>

  Thank you for taking the time to read about our mission of responding practically
  and ethically to the current opioid crisis. Listings for our products and services
  as well as integrated secure payment options will go live by Halloween of 2018.
  </p>
</div>
