<div class="contain">
<h1>Our Mission</h1>
<h3 id="about">
FuckFent is dedicated to providing informational leaflets about the deadly chemical
 “fentanyl,” and every leaflet sold is accompanied by a complementary ‘fent test strip.’
 These test strips have proven overwhelmingly effective in harm reduction,
 but we offer these strictly for educational purposes. We offer information about a
 common (illicit) and deadly chemical used as an adulterant in illegal drugs and the
 mechanisms by which qualified technicians quickly and accurately use field testing to
 identify its presence.</br>
</br>
It is our firm conviction that nobody should be denied access to life-saving resources,
in this case information, on bizarre moral grounds or owing to policies proven to
necessitate the crises they claim to address. While media outlets and bought researchers
 continue failing to understand what they’re paid not to understand, we at FuckFent
 sidestep the spectacle in order to offer something both practical and sensible:
 informational leaflets and complementary fentanyl testing strips for educational
 purposes only. FuckFent believes that human life is the yardstick of ethical action,
 especially in times of crisis.</br>
</br>
FuckFent is essentially a guerrilla campaign born of necessity and will gladly transform
 into an alternative expression of itself when these educational resources are provided
 by those who are paid to help are able or willing or able to offer the practical
 resources necessary for it to happen.
</br>
At FuckFent, we think it would be a great idea to obtain a handful of our leaflets and
corresponding complementary test strips to give to anyone who might benefit from the
knowledge gained by our practical approach to educational information. Leave a stack at
a local shelter, clinic, etc.
</h3>
</div>
