<div class="contain">
  <h1 class="display-4">Welcome to FuckFent!</h1>
  <p class="lead">FuckFent is dedicated to providing informational leaflets about the deadly chemical “fentanyl,” and every leaflet sold is accompanied by a complementary fentanyl test strip.</p>
  <hr class="my-4">
  <p>
    Click <%= link_to "here", welcome_about_path %> to learn more Or
    <%= link_to "Donate Now!", new_donation_path , class: 'btn btn-primary' %>
  </p>
</div>
