<div class="contain">
  <h1 class="display-4">Welcome to FuckFent!</h1>
  <p class="lead">Our website will be fully operational by Halloween of 2018.
    Please take a moment to read about our <%= link_to "mission", welcome_about_path %>
    and learn how you can help us provide practical solutions to our nation’s
    opioid crisis.
  </p>
  <hr class="my-4">
  <p>
    Click <%= link_to "here", welcome_about_path %> to learn more or
    <%= link_to "Donate Now!", new_donation_path , class: 'btn btn-primary' %>
  </p>
</div>
