<div class="contain">
  <h1>In Loving Memory</h1>
  <div class="pull-right" id= "mem-btn">
    <%= link_to "Create a memorial", new_memoriam_path, class: 'btn btn-primary' %>
  </div>
  <% if @memoriams.count == 0 %>
    <h3>There are currently no memorials posted</h3>
  <% end %>
